h1 {
    color: red;
}

h2 {
    color: blue;
}

p {
    font-size: 40px;
    background-color: red;
    font-weight: bold;
}

.souligne {
    text-decoration: underline;
}

li {
    font-style: italic;
}